<img class="img-responsive" src="/imgs/blue_swirls2.png" alt="lines-background">
<footer>
    <div class="container">
        <div class="nav col-md-3">
            <p><span class="glyphicon glyphicon-pencil"></span> Notes.com</p>
            <p class="text-justify">Aliq ac quam eget purus pharetra vulputate. Mauris consequat aliquet lectus. hasell convallis ac velit qeus convallis justo aliquam.</p>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="/list">My notes</a></li>
            </ul>            
        </div>
        
        <div class="col-md-9">
            <h4 id="contact">Contact Us</h4>
            
            <p class="footer-content">Use our site to add and manage your notes extremely quickly and easily. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida ex quis metus porttitor viverra. Donec convallis justo in neque posuere suscipit ac velit eu aliquam. Mauris ac quam eget purus pharetra vulputate. Aliquam fermentum ante lorem, eget faucibus lacus fringilla varius. In tempus dui vel nunc lobortis, a pretium nisi varius. Phasellus auctor accumsan sodales. Donec sit amet ornare neque, id imperdiet risus. Proin convallis risus maximus arcu tempor, quis vestibulum nibh commodo.</p>
            <div class="contact">
                <div class="col-md-4">
                    <p><span class="glyphicon glyphicon-map-marker"></span> 34 Fermen Street</p>
                </div>
                <div class="col-md-4">
                    <p><span class="glyphicon glyphicon-phone-alt"></span> +1 324 679024</p>
                </div>
                <div class="col-md-4">
                    <p><span class="glyphicon glyphicon-envelope"></span> support@notes.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="rights col-md-12">
    <p>All rights reserved. TM & Copyright &copy; 2016</p>
</div>