{% block body %}
	<div class="jumbotron" id="about">
		<div class="container">
			<h2>Phasellus convallis</h2>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida ex quis metus porttitor viverra. Donec convallis justo in neque posuere suscipit. Mauris ac quam eget purus pharetra vulputate. Mauris consequat aliquet lectus. Phasellus convallis ac velit eu aliquam. Nulla facilisi. Morbi vehicula molestie facilisis. Aliquam fermentum ante lorem, eget faucibus lacus fringilla varius. In tempus dui vel nunc lobortis, a pretium nisi varius. Phasellus auctor accumsan sodales. Donec sit amet ornare neque, id imperdiet risus. Proin convallis risus maximus arcu tempor, quis vestibulum nibh commodo. Donec elementum auctor mauris, quis sagittis ex pulvinar in.</p>
		</div>
	</div>
	<div class="container">
		<section class="col-sm-6">
			<img class="img-responsive img-thumbnail" src="imgs/Section_1.jpg" alt="colour2">
			<h3>Phasellus auctor accumsan</h3>
			<p class="text-justify">Maecenas tempor diam id eros volutpat gravida. Quisque pretium eros eget nulla varius blandit. Praesent gravida egestas nibh et ultricies. Curabitur viverra vulputate efficitur. Aliquam dui ex, aliquam ut lectus fermentum, feugiat blandit erat. In euismod dui eu ipsum tristique, vulputate rutrum diam placerat. Nullam nec vestibulum nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris hendrerit finibus nulla a vehicula. Nullam dictum non sapien vitae condimentum. Vivamus tempus porttitor leo, nec aliquet nulla volutpat nec. Ut et ante magna.Maecenas tempor diam id eros volutpat gravida. Quisque pretium eros eget nulla varius blandit. Praesent gravida egestas nibh et ultricies. Aliquam dui ex, aliquam ut lectus fermentum, feugiat blandit erat. In euismod dui eu ipsum tristique, vulputate rutrum diam placerat.</p>
		</section>
		<section class="col-sm-6">
			<img class="img-responsive img-thumbnail" src="imgs/Section_2.jpg" alt="colour2">
			<h3>Mauris consequat aliquet</h3>
			<p class="text-justify">Mauris gravida ex quis metus porttitor viverra. Donec convallis justo in neque posuere suscipit. Mauris ac quam eget purus pharetra vulputate. Mauris consequat aliquet lectus.  Proin convallis risus maximus arcu tempor. Phasellus convallis ac velit eu aliquam. Nulla facilisi. Morbi vehicula molestie facilisis. Aliquam fermentum ante lorem, eget faucibus lacus fringilla varius. In tempus dui vel nunc lobortis, a pretium nisi varius. Phasellus auctor accumsan sodales. Use Mobirise to add an image or content slider to your website extremely quickly and easily, without any coding skills. Nullam nec vestibulum nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris hendrerit finibus nulla a vehicula. Nullam dictum non sapien vitae condimentum. Vivamus tempus porttitor leo, nec aliquet nulla volutpat nec. Ut et ante magna.</p>
		</section>
		<div class="col-md-12">
			<img class="img-responsive img-thumbnail" src="imgs/Wallpaper_9.jpg" alt="colour-background-7">
		</div>
	</div>
	<div class="container">
		<p class="text-justify about-footer">Nulla facilisi. Morbi vehicula molestie facilisis. Aliquam fermentum ante lorem, eget faucibus lacus fringilla varius. In tempus dui vel nunc lobortis, a pretium nisi varius. Phasellus auctor accumsan sodales. Donec lacinia massa mi sit amet ornare neque, id imperdiet risus. Proin convalis massa socitudin risus maximus arcu tempor, quis vestibulum nibh commodo.</p>
	</div>
	<hr>
	<div class="jumbotron">
		<div class="container">
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim libero eu massa sollicitudin tincidunt. Mauris suscipit sodales blandit. Aliquam eget massa in ipsum tristique gravida. In mattis pellentesque tempus. Vestibulum ut justo id tellus aliquet consequat eget id nisi. Maecenas nec neque nulla. Praesent lacinia massa mi, ut sollicitudin enim pharetra eu. Donec pulvinar massa ac ex varius, non vulputate elit ullamcorper. Nam varius, ante non finibus viverra, elit massa blandit augue, et tincidunt nibh diam vel enim. Nunc vitae purus vulputate quam lobortis aliquam sed eu ante. Praesent lacus leo, varius vitae venenatis quis, interdum vel lacus. Curabitur.
			</p>
		</div>
	</div>
	<hr>
	<div class="container">
		<p class="text-justify about-footer">Mauris gravida ex quis metus porttitor viverra. Donec convallis justo in neque posuere suscipit. Mauris ac quam eget purus pharetra vulputate. Mauris consequat aliquet lectus. Phasellus convallis ac velit eu aliquam. Nulla facilisi. Morbi vehicula molestie facilisis. Aliquam fermentum ante lorem, eget faucibus lacus fringilla varius. In tempus dui vel nunc lobortis, a pretium nisi varius. Phasellus auctor accumsan sodales. Donec sit amet ornare neque, id imperdiet risus. Proin convallis risus maximus arcu tempor, quis vestibulum nibh commodo. Donec elementum auctor mauris, quis sagittis ex pulvinar in.</p>
	</div>
{% endblock %}